@{
    ViewData["Title"] = "Home Page";
}


<div class="row">
    <div class="col-3">
        <div class="card">
            <div class="card-body text-center">
                <h2 class="text-primary fw-bold">Elecciones</h2>
                <h1 class="fw-normal">@ViewBag.Elecciones</h1>
            </div>
        </div>
    </div>
<div class="row">
    <div class="col-3">
        <div class="card">
            <div class="card-body text-center">
                <h2 class="text-primary fw-bold">Candidatos</h2>
                <h1 class="fw-normal">@ViewBag.Candidatos</h1>
            </div>
        </div>
    </div>
    <div class="col-3">
        <div class="card">
            <div class="card-body text-center">
                <h2 class="text-primary fw-bold">Usuario</h2>
                <h1 class="fw-normal">@ViewBag.Usuarios</h1>
            </div>
        </div>

    </div>
    <div class="col-3">
        <div class="card">
            <div class="card-body text-center">
                <h2 class="text-primary fw-bold">Partidos</h2>
                <h1 class="fw-normal">@ViewBag.Partidos</h1>
            </div>
        </div>
    </div>
    <div class="col-3">
        <div class="card">
            <div class="card-body text-center">
                <h2 class="text-primary fw-bold">Cargos</h2>
                <h1 class="fw-normal">@ViewBag.Cargos</h1>
            </div>
        </div>
    </div>

</div>


@section Scripts{
    <script src="//cdn.datatables.net/1.13.4/js/jquery.dataTables.min.js"></script>
}